.board {
  display: inline-block;
  margin: 20px;
  border: 1px solid #333;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  /* Добавьте следующее свойство, чтобы установить фиксированную ширину ячейки */
  min-width: 80px;
}

.winner {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
